body {
  margin: 0; /* Remove default margin */
  line-height: 1.5; /* Improve legibility */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  margin-left: "10px";
  margin-right: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-container {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.App-header {
  background-color: #001353;
  min-height: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.linkButton {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #61dafb;
  transition: background-color 0.3s;
  color: white;
  font-size: 30px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
